extends layout

block content
    .container-fluid
        img(src="/images/dva.jpg")
        if (notfound)
            h3=__('error.notfound.cannotfinddownloadkey')
            //-
            h3=__('error.notfound.areyoutrysomething')
            //
            h3(style="color: purple; font-weight: bold")=__('error.notfound.divaphrase')
            //- ""
        else if (twt)
            h3=__('error.blockedreferer.waitwheredidyoucomfrom')
            //-잠시만요. 어디서 오신거죠?
            h3(style="color: purple; font-weight: bold")=__('error.blockedreferer.divaphrase')
            //- "넌 못 들어갈 거 같은데, 흐응"
        else
            h3=__('error.error.dontworry')
            //-
            h3(style="color: purple")=__('error.error.diva')
            //-
            h3=__('error.error.alreadysolved')
            //-
