extends layout

block content
    style.
        .card-content {
            height: 200px;
        }
    .container
        .row
            .col.m4
                .card
                    .card-image

                    .card-content
                        span.card-title=__('home.emibo.title')
                        p=__('home.emibo.description')
                        a(href='/emibo/menu').blue-text=__('home.emibo.seeranking')
                    .card-action
                        a(href='/emibo').black-text=__('home.emibo.enter')
                        a(href='/emibo/category/1').black-text=__('home.emibo.bycategory')
            .col.m4
                .card
                    .card-image

                    .card-content
                        span.card-title=__('home.campsite.title')
                        p=__('home.campsite.description')
                    .card-action
                        a(href='#').black-text=__('home.campsite.enter')
            .col.m4
                .card
                    .card-image

                    .card-content
                        span.card-title=__('home.residentservices.title')
                        p=__('home.residentservices.description')
                    .card-action
                        a(href='#').black-text=__('home.residentservices.enter')
