extends emiboLayout

block content
  link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  style.
    #loading {
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 50%;
      left: 0;
      top: 0;
      color: white;
    }
    #loading #circle {
      position: absolute;
      left: 50%;
      top: 50%;
      right:0;
      bottom: 50%;
    }


    svg {

      animation: 2s linear infinite svg-animation;
      max-width: 100px;
    }

    @keyframes svg-animation {
      0% {
        transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg)
      }
    }

    circle {
      animation: 2.4s ease-in-out infinite both circle-animation;
      display: block;
      fill: transparent;
      stroke: white;
      stroke-linecap: round;
      stroke-dasharray: 283;
      stroke-dashoffset: 280;
      stroke-width: 10px;
      transform-origin: 50% 50%;
    }

    @keyframes circle-animation {
      0%,
      25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
      }

      50%,
      75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
      }

      100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
      }
    }
  div#loading
    #circle
      svg(viewbox='0 0 100 100' xmlns='http://www.w3.org/2000/svg')
        circle(cx='50' cy='50' r='45')

  script(src="/scripts/index.js")
  .alert.alert-danger Website address will be https://emiya.vxz.me/
  .alert.alert-danger 웹 사이트 주소가  https://emiya.vxz.me/ 로 변경될 예정입니다.
  .row
    each card in miibo
      if (!("series" in card && card["series"] === -1))
        a.card.col-2(href="/emibo/data/" + card.file)
          img.card-img-top(src="/images/cards/" + card.number + ".jpg", alt=card.name)
          .card-body
            div#content
              div#number(style="font-weight: bold")=card.number
              if card.number === 256
                div#name(style="color: purple; font-weight: bold; font-size: 26px") ★#{card.name_kor}★
              else
                div#name #{card.name} #{card.name_kor}
              div#p(style="font-size: 12px; color: blue") #{(card.personality == null || card.personality[0] === "") ? "특수 주민 (Special)" : card.personality[1]+" ("+card.personality[0]+")" }
              case card.number
                when 256
                  div#alias(style="display: none") 갤주
                when 249
                  div#alias(style="display: none") 꼬털
                when 185
                  div#alias(style="display: none") 데끼에로
                when 324
                  div#alias(style="display: none") 부갤주
                when 366
                  div#alias(style="display: none") 졸귀
                when 67
                when 126
                  div#alias(style="display: none") 짱구
                when 244
                  div#alias(style="display: none") 어노잉
                when -1
                  div#alias(style="display: none") 신캐
    each card in welcome
      a.card.col-2(href="/emibo/data/" + card.file)
        img.card-img-top(src="/images/welcome/" + card.number + ".png", alt=card.name)
        .card-body
          div#content
            div#number(style="font-weight: bold")=card.number
            div#name #{card.name} #{card.name_kor}
            div#p(style="font-size: 12px; color: blue")=card.personality[1]+" ("+card.personality[0]+")"
            div#alias(style="display: none") welcome웰컴플러스plus캠핑카

    each figure in figures
      a.card.col-2(href="/emibo/data/" + figure.file)
        img.card-img-top(src="/images/figure/" + figure.number + ".png", alt=figure.name)
        .card-body
          div#content
            div#number(style="font-weight: bold")=figure.number
            div#name #{figure.name} #{figure.name_kor}
            div#p(style="font-size: 12px; color: blue") 특수 주민 (Special)
            div#alias(style="display: none")

