extends emiboLayout

block content
  link(href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
  script(src="/scripts/emibo.js")
  .btn-group.btn-group-sm.flex-wrap(role='group' aria-label='Category')
    a.btn.btn-secondary(type='button', href="/emibo") ALL
    a.btn.btn-secondary(type='button', href="/emibo/category/1") ~100
    a.btn.btn-secondary(type='button', href="/emibo/category/2") 101~200
    a.btn.btn-secondary(type='button', href="/emibo/category/3") 201~300
    a.btn.btn-secondary(type='button', href="/emibo/category/4") 301~400
    a.btn.btn-secondary(type='button', href="/emibo/category/welcome") Welcome/Sanrio/Promo
  .row
    if (miibo)
      each card in miibo
        if (!("series" in card && card["series"] === -1))
          a.card.col-2(href="/emibo/data/" + card.file)
            img.card-img-top(src="/images/cards/" + card.num + ".jpg", alt=card.name)
            .card-body
              div#content
                div#number(style="font-weight: bold")=card.num
                if card.num === 256
                  div#name(style="color: purple; font-weight: bold; font-size: 26px") ★#{card.name_kor}★
                else
                  div#name #{card.name} #{card.name_kor}
                div#p(style="font-size: 12px; color: blue") #{(card.personality == null || card.personality[0] === "") ? "특수 주민 (Special)" : card.personality[1]+" ("+card.personality[0]+")" }
                case card.num
                  when 256
                    div#alias(style="display: none") 갤주
                  when 249
                    div#alias(style="display: none") 꼬털
                  when 185
                    div#alias(style="display: none") 데끼에로
                  when 324
                    div#alias(style="display: none") 부갤주
                  when 366
                    div#alias(style="display: none") 졸귀
                  when 67
                  when 126
                    div#alias(style="display: none") 짱구
                  when 244
                    div#alias(style="display: none") 어노잉
                  when -1
                    div#alias(style="display: none") 신캐
    if (welcome)
      each card in welcome
        a.card.col-2(href="/emibo/data/" + card.file)
          img.card-img-top(src="/images/welcome/" + card.num + ".png", alt=card.name)
          .card-body
            div#content
              div#number(style="font-weight: bold")=card.num
              div#name #{card.name} #{card.name_kor}
              div#p(style="font-size: 12px; color: blue")=card.personality[1]+" ("+card.personality[0]+")"
              div#alias(style="display: none") welcome웰컴플러스plus캠핑카
    if (figures)
      each figure in figures
        a.card.col-2(href="/emibo/data/" + figure.file)
          img.card-img-top(src="/images/figures/" + figure.num + ".png", alt=figure.name, style='margin-top: 10px')
          .card-body
            div#content
              div#number(style="font-weight: bold")=figure.num
              div#name #{figure.name} #{figure.name_kor}
              div#p(style="font-size: 12px; color: blue") 특수 주민 (Special)
              div#alias(style="display: none")

