doctype html
html
    head
        title=__('global.title')
        meta(name="viewport", content="viewport-fit=cover, width=device-width, user-scalable=no")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
        meta(name="theme-color", content="#4caf50")
        link(rel='apple-touch-icon', href='/images/128x128.png')
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
        link(rel="manifest", href="/manifests/villagers.json")
        link(rel='stylesheet', href='/stylesheets/layout.css')
        script(src='/scripts/layout.js')

    body
        header
            nav.green.nav-extended
                .nav-wrapper
                    a.brand-logo.right(href='/')=__('navbar.title')
                    a(href='#', data-target='mobile').sidenav-trigger
                        i.material-icons menu
                    ul#nav-mobile.left.hide-on-med-and-down
                        include navbaritems.pug
            .sidenav#mobile
                include navbaritems.pug
        section
            block content
        section
            if (!login)
                include modals/login.pug
                include modals/register.pug
        footer.page-footer.green
            .footer-copyright
                .container
                    p=__('footer.copyright') 
                    
                    p Click to change Language
                        |&nbsp;
                        a(href='/lang/ko').yellow-text 한국어(대한민국)
                        |&nbsp;
                        a(href='/lang/en').white-text English (United States)
                    div
                        a(href='https://docs.google.com/spreadsheets/d/13d_LAJPlxMa_DubPTuirkIV4DERBMXbrWQsmSh8ReK4/edit#gid=1672309167').white-text=' Data Source / '
                        a(href='https://github.com/EmiyaSuite').white-text=' Github'
                    if (!login)
                        h6(style="color: 'red'; fontWeight: 'bold'")=__('villagers.notloggedin')

