doctype html
html
    head
        title=__('global.title')
        meta(name="viewport", content="width=device-width, user-scalable=no")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src='/scripts/layout.js')
    body
        header
            nav.green
                .nav-wrapper
                    a.brand-logo.right(href='/')=__('navbar.title')
                    a(href='#', data-target='mobile').sidenav-trigger
                        i.material-icons menu
                    ul#nav-mobile.left.hide-on-med-and-down
                        li
                            a(href='/emibo')=__('navbar.emibo')
                        if (login)
                            li
                                a(href='/admin/logout')=__('navbar.logout')
                        else
                            li
                                a.modal-trigger(data-target='login-modal', href='#login-modal')=__('navbar.login')
                            li
                                a.modal-trigger(data-target='register-modal', href='#register-modal')=__('navbar.register')
        section
            block content
        section
            if (!login)
               include modals/login.pug
               include modals/register.pug
        footer.page-footer.green
            .footer-copyright
                .container
                    p Emiya Copyright &copy; Suyeon Lee, Hosted in Netherlands
                    p Click to change Language
                        |&nbsp;
                        a(href='/lang/ko').yellow-text 한국어(대한민국, Korean)
                        |&nbsp;
                        a(href='/lang/en').white-text English (United States)

