li
    a(href='/emibo')=__('navbar.emibo')
li
    a(href='/villagers')=__('navbar.villagers')
li
    a(href='/info')=__('navbar.residentservices')
if (login)
    li
        a(href='/admin/logout')=__('navbar.logout')
else
    li
        a.modal-trigger(data-target='login-modal', href='#login-modal')=__('navbar.login')
    li
        a.modal-trigger(data-target='register-modal', href='#register-modal')=__('navbar.register')
