#login-modal.modal
    .modal-content
        h5=__('modal.login.title')
        form#loginform
            input#hash(type='hidden' name='_csrf' value='csrf goes here')
            .input-field
                input#username(name='username' type='text')
                label(for='username')=__('modal.login.username')
            //-.input-field
                input#email(name='email' type='text')
                label(for='email')=__('modal.login.email')
            .input-field
                input#password.validate(name='password' type='password')
                label(for='password')=__('modal.login.password')
            button#loginbutton.btn(type='button')=__('modal.login.button')
    .modal-footer
        a.modal-close.waves-effect.waves-green.btn-flat(href='#')=__('modal.login.close')
